# Node & Yarn
node_modules
*.log*

# VIM
*~
*.swp
*.swo

dist
dist-bin
coverage

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
